<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410962949745-e6phos84np93uts1ppedallq719q8d1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410962949745-e6phos84np93uts1ppedallq719q8d1l</string>
	<key>API_KEY</key>
	<string>AIzaSyB2w6jpRJpp0_0c3WhNqmjjHe44aq8xELI</string>
	<key>GCM_SENDER_ID</key>
	<string>410962949745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SCU.CampusConnect</string>
	<key>PROJECT_ID</key>
	<string>campusconnect-4d0dc</string>
	<key>STORAGE_BUCKET</key>
	<string>campusconnect-4d0dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:410962949745:ios:36b5944a1835acc8210dd0</string>
</dict>
</plist>
